<div class="container border shadow mt-5 bg-black rounded-5">

  <div class="d-flex justify-content-center mt-4 mb-5 align-self rounded-5 titulo">
    <%# <i class="fa-solid fa-calculator fs-1 m-2"></i> %>
    <h4 class="text-center fs-1">Position Size Calculator</h4>
  </div>

  <div class="row" data-controller="calculator">
      <div class="container col-6">

        <%= simple_form_for :custom_form, url: root_path do |f| %>
          <%= f.input :total_portafolio, input_html: { data: { calculator_target: "total" }, class: 'gris rounded-5', placeholder: '$'}%>
          <%= f.input :porcentaje_arriesgar, input_html: {
            data: {
              calculator_target: "porcentaje",
              action: 'blur->calculator#calcularCapitalRiesgo'
              }, class: 'gris rounded-5',
              placeholder: '%' } %>
          <%= f.input :capital_total_riesgo, disabled: true, input_html: { data: { calculator_target: 'capital' }, class: 'gris rounded-5', placeholder: '$' } %>
          <%= f.input :precio_entrada, input_html: { data: { calculator_target: 'entrada' }, class: 'bg-green rounded-5', placeholder: '$' } %>
          <%= f.input :precio_salida, input_html: {
            data: {
              calculator_target: 'salida',
            action: 'blur->calculator#calcularMontoRiesgo' },
            class: 'bg-red rounded-5',
            placeholder: '$'
           } %>
          <%= f.input :monto_arriesgar_unidad, disabled: true, input_html: {
            data: { calculator_target: 'arriesgar'}, class: 'gris rounded-5', placeholder: '$' } %>

            <div class="form-actions">
              <%= f.button :submit, "Refrescar", class: "btn rounded-5 my-4 mt-1" %>
            </div>
        <% end %>

      </div>

      <div class="container col-6">
        <div class="container border shadow w-50 rounded-5 ">
          <h4 class='text-center fs-2'>Position Size</h4>
          <h6>Total unidades a comprar:</h6>
          <h1 data-calculator-target="position"></h1>
        </div>
      </div>

  </div>
</div>
