<!DOCTYPE html>
<html>
  <head>
    <title>Risky</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="https://st2.depositphotos.com/26272052/47614/v/450/depositphotos_476145954-stock-illustration-pop-art-calculator-icon-isolated.jpg">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
